<div class="container">
  <div class="bookingcard p-3">
    <h1>Book your next partner</h1>
    <%= simple_form_for [@profile, @booking] do |booking| %>
      <%= booking.input :date %>
      <%= booking.submit class: 'bfbutton' %>
    <% end %>
  </div>
</div>
