<h1>Book a Beau</h1>

<%= simple_form_for @booking do |form| %>
  <%= form.input :user_id, collection: User.all, label: 'User' %>
  <%= form.input :profile_id, collection: Profile.all, label: 'Profile' %>

  <%= form.button :submit, class: 'btn btn-primary' %>
<% end %>
