<!--header-->
<div class="header border-bottom bg-white">
  <h2 class="logo">Borrow A Beau</h2>
    <nav>
      <ul class="links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Bookings</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  <a class="cta" href="#"><button>Login</button></a>
</div>
<!--header-->
<div class="main-content">
  <h1>Main content</h1>
  <p>Here's some text about the content.</p>
</div>
<!--footer-->
<footer>
  <div class="footer-content">
    <h3>Borrow A Beau</h3>
    <p>Borrow A Beau revolutionizes dating by offering a unique web app where you can rent a boyfriend for occasions like social outings or family introductions. It's the perfect solution for those seeking companionship without long-term commitment.</p>
    <ul class="socials">
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
  </div>
</footer>
<!--footer-->
