.bookinglinks:hover {
  border-radius: 5px;
  border: 2px solid rgb(254, 212, 219);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: rgb(25, 50, 80);
  background-color: rgb(254, 212, 219);
}
