<h2>Booking Review Page</h2>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add a review to your boyfriend booking: </h3>
        <%= simple_form_for [@booking, @review], url: booking_reviews_path(@booking) do |f| %>
          <%= f.input :rating, placeholder: 'What is your rating (1-5)?' %>
          <%= f.input :comment, placeholder: 'Enter a comment about this booking' %>
          <%= f.submit class: "btn cta" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
